.registerMain{
  background-image: url(/assets/images/bg.jpg);
  min-height: calc(100vh - 56px);
  background-size: cover;
}

.formRegister{
  padding: 30px;
  background-color: rgba(250, 250, 250, 0.728);
  border-radius: 10px;

}

